body
{
    background-color: rgb(170, 100, 100);
}
#dopebrand
{
    text-align: center;
    text-decoration: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: lightcyan;
}
#dopetext
{

}